.Select{
    padding: 5px 5px;
    font-size: 15px;
    border: 1px solid #00000080;
    padding:8px 5px;
    border-radius: 5px;
}
.Input{
    font-size: 15px;
    border: 1px solid #00000080;
    padding:8px 10px;
    border-radius: 5px;
}
