@mixin centralizar ($just,$align) {
    justify-content:$just ;
    align-items: $align;
}


.Table_Head{
    width: 100%;
    padding: 0 0 10px 0;
    border-bottom:1.5px solid #00000080;

    tr{
        margin: 0 auto;
        width: 80%;
        @include centralizar(space-between,center );
        display: flex;
    }
}

.Table_Body{
    width: 100%;
    overflow-y: scroll;
    max-height: 150px;
    tr{
        display: flex;
        @include centralizar(space-between,center );
    border-bottom:1.5px solid #00000080;
        
        .col-1{
            
            display: flex;
            @include centralizar(none,center );


            span{
                margin: 0 10px 0px 0px;
            }
        }

        .col-2{
            
            display: flex;
            @include centralizar(right,center );


        }
    }
    
}

.Table_Footer{
    width: 100%;
    margin: 2px 0 0 0;
    border-top:1.5px solid #00000080;
    tr{
        margin: 0 auto;
        width: 80%;
        @include centralizar(space-between,center );
        display: flex;
    }

}